@import "../../scss/variables.scss";

.menu {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	&__link {
		height: 50px;
		width: 100%;
		border-bottom: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2%;
		color: #08155b;
		&:hover {
			border-color: #08155b;
			color: #08145bb7;
		}
		&:hover p {
			color: #08145bb7;
		}
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			object-fit: cover;
		}
		h4 {
			width: 70%;
			text-align: left;
			font-weight: 500;
		}
		p {
			color: #ddd;
		}
	}
}
