@import "../../scss/variables.scss";

.categoryMain {
	width: 100%;
	.title {
		margin: 4rem 0 1.7rem 0;
		font-size: 1.8rem;
		line-height: 2rem;
		color: $light;
		padding-left: 5%;
	}
	.circlesWrap {
		width: 100%;
		height: 250px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 1.2rem;
			.circle {
				width: 180px;
				height: 180px;
				background-color: $light;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.3s all;
				&:hover {
					transform: scale(1.04);
					box-shadow: 0 0 20px 3px rgb(131, 0, 183);
				}
				img {
					width: 125%;
					object-fit: cover;
				}
			}
			p {
				font-size: 1.2rem;
				font-weight: 500;
				color: $light;
			}
		}
	}
}
