@import "../../scss/variables.scss";


.categoryMain{
    width:  100%;
    // background-color: $darkblue;
    padding: 20px 0;
    .title{
        font-size: 1.8rem;
        line-height: 2rem;
        color: $light;
        padding-left: 5%;
    }
    .circlesWrap {
        width: 90%;
        height: 250px;
        margin: 2rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1.2rem;
           
            .circle {
                width: 220px;
                height: 220px;
                background-color: $light;
                border-radius: 360%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s all;
                &:hover{
                    transform: scale(1.04);
                }
                img{
                   
                    object-fit: cover;
                }
            }
            p{
                font-size: 1.2rem;
                font-weight: 500;
                color: $light;
            }
        }
    }
}