* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.headericon {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2% 0 0 2%;
	.singleicon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		i {
			font-size: 30px;
			color: #060f42;
		}
		p {
			max-width: 150px;
			color: #060f42;
			font-size: 0.9rem;
			text-align: center;
		}
	}
}
